@charset "UTF-8";
 /*

html, body {
    background-color: rgba(21, 177, 65, 0.817);
}

.titulo {
    background-color: white;
    padding: 20px;
    text-align: center;
}

div {
    background-color: white;
}

*/